/* spinner style  */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #619cf5 transparent #619cf5 transparent;
    animation: lds-dual-ring 0.4s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* model styles */
#modal-overlay {
    background: #00000080;
}

#modal-overlay {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

#modal-overlay::-webkit-scrollbar {
    display: none;
}